<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
  <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Thasadith&display=swap" rel="stylesheet">
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/togglePassword.js"></script>
    <script type="text/javascript" src="/scripts/favourite.js"></script>
    <script type="text/javascript" src="/scripts/copyToClipboard.js"></script>


    <title>Home Page</title>
</head>

<body class="favourited-logins">

      <%- include('partials/_header.ejs') %>

    </form>

    <h1> <%- Title %> </h1>


    <div class="container">

      <div class="row">

      <% for (let login in data) { %>
            <div class="login-block col-6 col-md-4">
              <div class= "icon-info">
                <div id="show-icon">
                <!-- Icon, first letter of service name --> <%= data[login].service_name[0].toLowerCase() %>
                </div>
                <div id="feature-buttons">
                  <% if (data[login].favourite) { %>
                    <form action = "/editlogin/removeFavourite" method = "POST">
                     <button><i class="fa-solid fa-star favourites removeFavourite"></i></button>
                     <input type="hidden" name="saved_login_id" value = <%= data[login].id %> >
                    </form>
                  <% } else { %>
                    <form action = "/editlogin/favourite" method = "POST">
                      <button><i class="fa-regular fa-star favourite"></i></button>
                      <input type="hidden" name="saved_login_id" value = <%= data[login].id %> >
                    </form>
                  <% } %>
                </div>

                <form class = "edit" action = "/editLogin" method = "POST">
                  <button><i id="edit-icon" class ="fa-solid fa-pencil edit"></i></button>
                  <div>Site Name: <%= data[login].service_name %></div>
                  <input type="hidden" name="service_name" value = <%= data[login].service_name %> >
                  <div class = "username">Username: <%= data[login].saved_username %> <i class="fa-solid fa-copy"></i>
                  <input type="hidden" name="saved_username" value = <%= data[login].saved_username %> >
                </div>
                <!-- DON'T WANT THIS INFO ON THIS PAGE will need on expanded icon -->
                  <div class="password" >Password: <%= data[login].saved_password %>
                    <i class="fa-solid fa-copy"></i>
                    <input type="hidden" name="saved_password" value = <%= data[login].saved_password %> >
                </div>
                  <div >Login URL: <%= data[login].login_url %></div>
                  <input type="hidden" name="login_URL" value = <%= data[login].login_URL %> >
                  <input type="hidden" name="saved_login_id" value = <%= data[login].id %> >
                </form>
              </div>
            </div>

    <% } %>
        </div>

    </div> <br>
    <% if (user) { %>
      <form action = "/addNewLogin", method = "GET">
        <button class="add-new-login btn btn-primary">Add a new account!</button>
      </form>
    <% } else { %>
      <form action="/register" method="GET">
      <button class="submit btn btn-primary">Register Today!</button>
      </form>
    <% } %>

    <%- include('partials/_footer.ejs') %>
  </body>

</html>
